<div ng-controller="ProblemAutocompleteCtrl as ctrl">
    <md-autocomplete
            md-clear-button="False"
            ng-disabled="ctrl.isDisabled"
            md-no-cache="ctrl.noCache"
            md-selected-item="ctrl.selectedItem"
            md-search-text="ctrl.searchText"
            md-selected-item-change="ctrl.selectedItemChange(item)"
            md-items="item in ctrl.querySearch(ctrl.searchText)"
            md-item-text="item.title"
            md-min-length="0"
            placeholder="Problem Title ? ">
        <md-item-template>
            <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{ item.title }}</span>
        </md-item-template>
        <md-not-found>
            No verb matching "{{ ctrl.searchText }}" were found.
        </md-not-found>
    </md-autocomplete>
    <form enctype="multipart/form-data" method="POST"> {% csrf_token %}
        <textarea ui-tinymce="tinymceOptions" ng-model="title" ng-change="update()"></textarea>
        <textarea ui-tinymce="tinymceOptions" ng-model="text" ng-change="update()"></textarea>
    </form>

</div>


