<div ng-controller="ProblemAutocompleteCtrl as ctrl">
    <md-autocomplete
            md-clear-button="False"
            ng-disabled="ctrl.isDisabled"
            md-no-cache="ctrl.noCache"
            md-selected-item="ctrl.selectedItem"
            md-search-text="ctrl.searchText"
            md-selected-item-change="ctrl.selectedItemChange(item)"
            md-items="item in ctrl.querySearch(ctrl.searchText)"
            md-item-text="item.title"
            md-min-length="0"
            placeholder="Problem Title ? ">
        <md-item-template>
            <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{ item.title }}</span>
        </md-item-template>
        <md-not-found>
            No verb matching "{{ ctrl.searchText }}" were found.
        </md-not-found>
    </md-autocomplete>
    <form enctype="multipart/form-data" method="POST">
        <h2>Title</h2>
        <textarea ui-tinymce="tinymceOptions" ng-model="selectedProblem.title" ng-change="updateProblemTitle()"></textarea>
        <h2>Text</h2>
        <textarea ui-tinymce="tinymceOptions" ng-model="problemContent.problem_text" ng-change="updateProblemContent()"></textarea>
        <h2>Keywords</h2>
        <div ng-repeat="keyword in problemContent.keyword" class="inline-group">
            <label>{{ keyword.keyword }} : </label>
            <label>{{ keyword.definition }}</label>
            <img class="fit-picture" src="{{ keyword.definition_schema }}">
        </div>
        <h2>Compétences</h2>
        <div ng-repeat="skill in problemContent.skill" class="inline-group">
            <label>{{ skill.taxonomy.verb }}</label>
            <label>{{ skill.text }}</label>
        </div>
        <h2>Plan d'action</h2>
        <div ng-repeat="step in problemContent.action_plan" class="inline-group">
            <label>{{ step.action_plan_steps }}</label>
        </div>
    </form>

</div>


